In [79]:
import pandas as pd
from pandas.plotting import table
import numpy as np
import matplotlib.pyplot as plt

In [100]:
def data_in():
    
    ''' Takes in data from the CSV, gets the relevant data, and returns a dataframe '''
    
    df = pd.read_csv('ProblemCData.csv')
    material_codes = ['FFTCB', 'PATCB', 'EMTCB', 'MGTCB', 'JFTCB', 'NGTCB','CLTCB','WWTCB', 'DFTCB', 'RFTCB','NUEGB','RETCB','HYTCB','GETCB','SOTCB','WYTCB', 'BMTCB'] # list of material codes from excel[]

    data = df.loc[df['MSN'].isin(material_codes)]
    return data

In [145]:
def get_state_data_for_plotting(state1):
    
    state = state1
    df = data_in()
    data1 = df[df.loc[:, 'StateCode'] == state]
    # Get their data for the relevant columns as a series over all the years
    
    data = data1.filter(items=['Year', 'MSN', 'Data']).set_index(['Year'])
    #print(data)

    dfPA = data[data.loc[:, 'MSN']== 'PATCB']
    dfEM = data[data.loc[:, 'MSN']== 'EMTCB']
    dfJF = data[data.loc[:, 'MSN']== 'JFTCB']
    dfMG = data[data.loc[:, 'MSN']== 'MGTCB']
    dfRF = data[data.loc[:, 'MSN']== 'RFTCB']
    dfDF = data[data.loc[:, 'MSN']== 'DFTCB']
    petro = dfPA.loc[:, 'Data'] + dfEM.loc[:, 'Data'] + dfJF.loc[:, 'Data'] + dfMG.loc[:, 'Data'] + dfRF.loc[:, 'Data'] + dfDF.loc[:, 'Data']
    
    dfNG = data[data.loc[:, 'MSN'] == 'NGTCB']
    natural_gas = dfNG.loc[:, 'Data']
    
    dfCoal = data[data.loc[:, 'MSN'] == 'CLTCB']
    dataCoal = dfCoal.loc[:, 'Data']
    
    dfWood = data[data.loc[:, 'MSN'] == 'WWTCB']
    dataWood = dfWood.loc[:, 'Data']
    coal_wood = dfCoal.loc[:, 'Data'] + dfWood.loc[:, 'Data']
   
    dfNuc = data[data.loc[:, 'MSN'] == 'NUEGB']
    dataNG = dfNG.loc[:, 'Data']

    dfWind = data[data.loc[:, 'MSN'] == 'WYTCB']
    wind = dfWind.loc[:, 'Data']

    dfSol = data[data.loc[:, 'MSN'] == 'SOTCB']
    solar = dfSol.loc[:, 'Data']

    dfHydro = data[data.loc[:, 'MSN'] == 'HYTCB']
    hydro = dfHydro.loc[:, 'Data']

    dfGeo = data[data.loc[:, 'MSN'] == 'GETCB']
    geo = dfGeo.loc[:, 'Data']

    dfBio = data[data.loc[:, 'MSN'] == 'BMTCB']
    bio = dfBio.loc[:, 'Data']
    
    data_values = [petro, natural_gas, coal_wood, nuclear, wind, solar, hydro, geo, bio]
    dataf = pd.DataFrame(data_values)
    print(dataf)
    return data_values
    
    
get_state_data_for_plotting('CA')

Year              1960         1961         1962         1963         1964  \
Data      3,361,114.26 3,480,695.94 3,438,362.70 3,526,656.92 3,735,911.00
Data      1,301,826.10 1,400,173.88 1,483,423.06 1,623,369.50 1,817,240.67
Data        118,000.60   142,612.56   126,578.67   139,148.97   152,159.04
Unnamed 0          nan          nan          nan          nan          nan
Data              0.00         0.00         0.00         0.00         0.00
Data              0.00         0.00         0.00         0.00         0.00
Data        187,704.52   163,670.09   241,087.42   265,551.19   231,188.24
Data            359.04     1,001.32     1,060.68     1,760.48     2,132.06
Data         82,097.53    83,506.11    86,897.65    93,021.64    98,436.28

Year              1965         1966         1967         1968         1969  \
Data      3,855,880.59 4,117,258.42 4,197,710.34 4,472,176.79 4,557,975.64
Data      1,813,213.34 1,982,304.88 2,048,733.97 2,187,259.75 2,189,883.37
Data        161,180.65   152,187.57   155,833.77   167,284.33   176,283.31
Unnamed 0          nan          nan          nan          nan          nan
Data              0.00         0.00         0.00         0.00         0.00
Data              0.00         0.00         0.00         0.00         0.00
Data        319,052.13   273,246.60   368,007.47   282,560.50   422,243.47
Data          1,977.85     1,957.90     3,299.74     4,531.72     6,421.88
Data         97,487.84   100,672.53   101,884.79   110,273.69   116,252.66

Year          ...              2000         2001         2002         2003  \
Data          ...      6,726,397.20 6,750,730.11 6,983,498.63 7,221,184.06
Data          ...      2,456,438.19 2,513,856.34 2,318,656.00 2,317,062.58
Data          ...        229,192.54   223,989.35   232,069.17   224,769.62
Unnamed 0     ...               nan          nan          nan          nan
Data          ...         35,887.35    36,162.79    38,684.31    39,893.11
Data          ...         23,120.79    23,072.17    22,533.85    22,046.65
Data          ...        391,042.95   263,923.17   316,793.61   372,472.37
Data          ...        127,599.71   128,077.31   135,220.89   134,816.36
Data          ...        164,988.68   164,122.08   171,473.81   205,818.29

Year              2004         2005         2006         2007         2008  \
Data      7,141,654.91 7,304,474.25 7,385,901.72 7,443,025.32 7,080,601.76
Data      2,462,247.16 2,304,462.87 2,375,928.94 2,441,192.08 2,475,017.12
Data        224,659.78   213,009.87   206,394.11   204,870.84   202,779.83
Unnamed 0          nan          nan          nan          nan          nan
Data         43,153.48    42,618.03    48,432.50    55,201.48    53,063.35
Data         22,326.12    22,035.08    23,165.26    25,557.11    29,231.94
Data        342,160.39   396,279.03   476,581.96   270,107.49   237,755.44
Data        133,326.91   132,375.38   129,318.53   130,592.36   129,142.79
Data        228,435.86   225,495.24   219,733.39   225,390.71   228,308.95

Year              2009
Data      6,863,216.02
Data      2,391,376.81
Data        192,562.27
Unnamed 0          nan
Data         56,996.58
Data         31,397.01
Data        272,187.23
Data        127,461.12
Data        224,662.52

[9 rows x 50 columns]

[Year
 1960   3,361,114.26
 1961   3,480,695.94
 1962   3,438,362.70
 1963   3,526,656.92
 1964   3,735,911.00
 1965   3,855,880.59
 1966   4,117,258.42
 1967   4,197,710.34
 1968   4,472,176.79
 1969   4,557,975.64
 1970   4,646,251.57
 1971   4,953,545.06
 1972   5,092,210.86
 1973   5,698,494.50
 1974   5,347,457.85
 1975   5,561,628.02
 1976   6,067,029.74
 1977   6,771,947.02
 1978   6,832,416.45
 1979   6,925,718.87
 1980   6,493,554.52
 1981   6,120,106.52
 1982   5,437,044.29
 1983   5,497,512.38
 1984   5,927,035.79
 1985   5,766,555.12
 1986   5,907,058.35
 1987   6,154,742.93
 1988   6,517,606.89
 1989   6,632,233.96
 1990   6,537,106.13
 1991   6,078,661.33
 1992   6,036,405.42
 1993   5,932,438.62
 1994   6,193,927.18
 1995   6,248,279.92
 1996   6,340,355.86
 1997   6,190,442.74
 1998   6,225,862.39
 1999   6,401,341.37
 2000   6,726,397.20
 2001   6,750,730.11
 2002   6,983,498.63
 2003   7,221,184.06
 2004   7,141,654.91
 2005   7,304,474.25
 2006   7,385,901.72
 2007   7,443,025.32
 2008   7,080,601.76
 2009   6,863,216.02
 Name: Data, dtype: float64, Year
 1960   1,301,826.10
 1961   1,400,173.88
 1962   1,483,423.06
 1963   1,623,369.50
 1964   1,817,240.67
 1965   1,813,213.34
 1966   1,982,304.88
 1967   2,048,733.97
 1968   2,187,259.75
 1969   2,189,883.37
 1970   2,241,295.48
 1971   2,265,324.46
 1972   2,303,562.23
 1973   2,154,045.47
 1974   1,937,139.68
 1975   1,937,321.76
 1976   1,849,711.29
 1977   1,864,186.79
 1978   1,646,333.04
 1979   1,900,356.50
 1980   1,890,886.55
 1981   1,947,370.39
 1982   1,765,171.45
 1983   1,601,037.23
 1984   1,739,833.35
 1985   1,925,458.89
 1986   1,591,044.55
 1987   1,992,956.39
 1988   1,860,390.85
 1989   2,047,845.05
 1990   2,101,602.04
 1991   2,208,285.48
 1992   2,294,134.97
 1993   2,213,111.11
 1994   2,334,776.98
 1995   2,109,955.87
 1996   2,017,680.08
 1997   2,185,029.25
 1998   2,418,687.91
 1999   2,379,557.56
 2000   2,456,438.19
 2001   2,513,856.34
 2002   2,318,656.00
 2003   2,317,062.58
 2004   2,462,247.16
 2005   2,304,462.87
 2006   2,375,928.94
 2007   2,441,192.08
 2008   2,475,017.12
 2009   2,391,376.81
 Name: Data, dtype: float64, Year
 1960   118,000.60
 1961   142,612.56
 1962   126,578.67
 1963   139,148.97
 1964   152,159.04
 1965   161,180.65
 1966   152,187.57
 1967   155,833.77
 1968   167,284.33
 1969   176,283.31
 1970   178,650.30
 1971   170,235.96
 1972   175,098.24
 1973   197,077.59
 1974   195,393.13
 1975   183,894.63
 1976   211,390.04
 1977   227,093.18
 1978   228,152.88
 1979   236,938.34
 1980   181,779.67
 1981   210,070.65
 1982   192,703.73
 1983   176,789.11
 1984   199,989.95
 1985   210,608.05
 1986   169,936.93
 1987   200,443.50
 1988   215,436.26
 1989   298,347.79
 1990   302,583.42
 1991   303,528.14
 1992   317,251.48
 1993   276,368.60
 1994   277,331.10
 1995   257,229.56
 1996   247,913.26
 1997   233,876.93
 1998   207,216.01
 1999   221,009.60
 2000   229,192.54
 2001   223,989.35
 2002   232,069.17
 2003   224,769.62
 2004   224,659.78
 2005   213,009.87
 2006   206,394.11
 2007   204,870.84
 2008   202,779.83
 2009   192,562.27
 Name: Data, dtype: float64, array([  0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   1.20046657e+04,   1.05540357e+05,
          1.40531715e+05,   2.43215043e+05,   8.30799789e+04,
          2.17964745e+05,   2.63104116e+05,   2.68148760e+05,
          2.31601435e+05,   2.42182184e+05,   2.83526215e+05,
          3.02902182e+05,   3.07623215e+05,   3.17888263e+05,
          3.17842727e+05,   3.16838975e+05,   2.99965526e+05,
          3.22260075e+05,   2.97843153e+05,   2.93130174e+05,
          2.69326507e+05,   2.50591643e+05,   2.80813370e+05,
          3.05755435e+05,   3.20722961e+05,   5.11680000e-01,
          5.52726400e+01,   8.38450900e+01,   2.28760522e+03,
          4.36891659e+03,   3.19278133e+03,   1.89546722e+03,
          6.50268025e+03,   1.70034084e+04,   2.71270808e+04,
          3.43753866e+04,   3.81374837e+04,   3.42663591e+04,
          2.86893038e+04,   4.12768268e+04,   6.68554407e+04,
          5.31070385e+04,   8.73955072e+04,   8.38005873e+04,
          9.53199921e+04,   5.36649493e+04,   3.53671435e+04,
          4.13573339e+04,   6.12142033e+04,   1.53366016e+05,
          2.09564943e+05,   2.77331532e+05,   3.17297984e+05,
          3.27209102e+05,   3.44145603e+05,   3.45955284e+05,
          3.30684221e+05,   3.69043442e+05,   3.31723589e+05,
          3.52778381e+05,   3.17794050e+05,   3.58119321e+05,
          3.20194166e+05,   3.62927815e+05,   3.48735906e+05,
          3.66845342e+05,   3.46911447e+05,   3.58707134e+05,
          3.70922875e+05,   3.15603258e+05,   3.77312515e+05,
          3.33520169e+05,   3.75284258e+05,   3.39538015e+05,
          3.32249390e+05,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   4.02005894e+04,   1.05721789e+05,
          1.67822668e+05,   2.07581806e+05,   2.56501721e+05,
          1.30320754e+05,   3.00447694e+05,   3.79841972e+05,
          3.75656075e+05,   3.92031148e+05,   4.05845688e+05,
          3.84140945e+05,   3.91669511e+05,   3.98534778e+05,
          3.71923198e+05,   3.48452021e+05,   4.21619624e+05,
          3.98994297e+05,   4.30634005e+05,   4.29413490e+05,
          4.25723199e+05,   4.34065074e+05]), Year
 1960        0.00
 1961        0.00
 1962        0.00
 1963        0.00
 1964        0.00
 1965        0.00
 1966        0.00
 1967        0.00
 1968        0.00
 1969        0.00
 1970        0.00
 1971        0.00
 1972        0.00
 1973        0.00
 1974        0.00
 1975        0.00
 1976        0.00
 1977        0.00
 1978        0.00
 1979        0.00
 1980        0.00
 1981        0.00
 1982        0.00
 1983       15.70
 1984       36.68
 1985       27.83
 1986       27.94
 1987       37.52
 1988        6.43
 1989   21,684.89
 1990   28,697.88
 1991   30,415.77
 1992   29,619.48
 1993   30,758.34
 1994   34,941.61
 1995   31,830.64
 1996   31,836.07
 1997   32,036.94
 1998   28,121.99
 1999   33,029.50
 2000   35,887.35
 2001   36,162.79
 2002   38,684.31
 2003   39,893.11
 2004   43,153.48
 2005   42,618.03
 2006   48,432.50
 2007   55,201.48
 2008   53,063.35
 2009   56,996.58
 Name: Data, dtype: float64, Year
 1960        0.00
 1961        0.00
 1962        0.00
 1963        0.00
 1964        0.00
 1965        0.00
 1966        0.00
 1967        0.00
 1968        0.00
 1969        0.00
 1970        0.00
 1971        0.00
 1972        0.00
 1973        0.00
 1974        0.00
 1975        0.00
 1976        0.00
 1977        0.00
 1978        0.00
 1979        0.00
 1980        0.00
 1981        0.00
 1982        0.00
 1983        0.00
 1984       54.79
 1985      111.05
 1986      146.58
 1987      109.37
 1988       93.09
 1989   19,753.01
 1990   22,097.26
 1991   23,864.51
 1992   23,597.81
 1993   24,688.83
 1994   25,226.23
 1995   25,428.63
 1996   25,636.12
 1997   25,072.46
 1998   24,582.64
 1999   24,016.57
 2000   23,120.79
 2001   23,072.17
 2002   22,533.85
 2003   22,046.65
 2004   22,326.12
 2005   22,035.08
 2006   23,165.26
 2007   25,557.11
 2008   29,231.94
 2009   31,397.01
 Name: Data, dtype: float64, Year
 1960   187,704.52
 1961   163,670.09
 1962   241,087.42
 1963   265,551.19
 1964   231,188.24
 1965   319,052.13
 1966   273,246.60
 1967   368,007.47
 1968   282,560.50
 1969   422,243.47
 1970   399,628.05
 1971   408,829.55
 1972   329,587.07
 1973   402,618.36
 1974   484,739.65
 1975   417,308.81
 1976   240,578.47
 1977   148,706.89
 1978   385,488.68
 1979   351,169.76
 1980   423,618.43
 1981   311,123.98
 1982   525,064.76
 1983   598,434.67
 1984   450,580.14
 1985   331,348.16
 1986   433,077.12
 1987   255,937.46
 1988   242,346.92
 1989   321,317.58
 1990   247,490.28
 1991   229,143.92
 1992   208,571.35
 1993   417,437.45
 1994   237,398.14
 1995   495,317.64
 1996   462,728.89
 1997   419,290.08
 1998   505,243.00
 1999   416,573.16
 2000   391,042.95
 2001   263,923.17
 2002   316,793.61
 2003   372,472.37
 2004   342,160.39
 2005   396,279.03
 2006   476,581.96
 2007   270,107.49
 2008   237,755.44
 2009   272,187.23
 Name: Data, dtype: float64, Year
 1960       359.04
 1961     1,001.32
 1962     1,060.68
 1963     1,760.48
 1964     2,132.06
 1965     1,977.85
 1966     1,957.90
 1967     3,299.74
 1968     4,531.72
 1969     6,421.88
 1970     5,511.27
 1971     5,739.35
 1972    15,078.56
 1973    20,421.79
 1974    25,610.43
 1975    33,779.67
 1976    37,512.99
 1977    37,381.67
 1978    30,851.22
 1979    40,262.49
 1980    52,699.14
 1981    59,437.46
 1982    50,627.31
 1983    63,910.06
 1984    80,195.47
 1985    96,079.60
 1986   105,700.51
 1987   110,429.17
 1988   104,371.81
 1989   143,657.11
 1990   152,147.48
 1991   155,529.05
 1992   154,136.32
 1993   155,586.98
 1994   142,640.11
 1995   120,056.86
 1996   129,678.25
 1997   132,211.40
 1998   133,436.46
 1999   135,324.68
 2000   127,599.71
 2001   128,077.31
 2002   135,220.89
 2003   134,816.36
 2004   133,326.91
 2005   132,375.38
 2006   129,318.53
 2007   130,592.36
 2008   129,142.79
 2009   127,461.12
 Name: Data, dtype: float64, Year
 1960    82,097.53
 1961    83,506.11
 1962    86,897.65
 1963    93,021.64
 1964    98,436.28
 1965    97,487.84
 1966   100,672.53
 1967   101,884.79
 1968   110,273.69
 1969   116,252.66
 1970   116,838.80
 1971   119,221.20
 1972   127,646.29
 1973   130,121.59
 1974   134,722.96
 1975   127,489.40
 1976   144,760.14
 1977   151,984.13
 1978   160,260.96
 1979   168,373.40
 1980   115,610.05
 1981   133,092.28
 1982   127,115.64
 1983   148,645.74
 1984   165,872.88
 1985   167,092.68
 1986   129,118.25
 1987   157,927.92
 1988   169,037.89
 1989   235,905.23
 1990   222,588.66
 1991   219,223.95
 1992   226,570.65
 1993   193,993.60
 1994   195,853.69
 1995   181,976.76
 1996   175,102.15
 1997   158,857.67
 1998   146,911.98
 1999   156,548.02
 2000   164,988.68
 2001   164,122.08
 2002   171,473.81
 2003   205,818.29
 2004   228,435.86
 2005   225,495.24
 2006   219,733.39
 2007   225,390.71
 2008   228,308.95
 2009   224,662.52
 Name: Data, dtype: float64]

In [59]:
def get_materials_numbers(data):
    
    ''' Aggregate the data from different specific energy sources into general sources'''
    
    dfPA = data[data.loc[:, 'MSN']== 'PATCB']
    dfEM = data[data.loc[:, 'MSN']== 'EMTCB']
    dfJF = data[data.loc[:, 'MSN']== 'JFTCB']
    dfMG = data[data.loc[:, 'MSN']== 'MGTCB']
    dfRF = data[data.loc[:, 'MSN']== 'RFTCB']
    dfDF = data[data.loc[:, 'MSN']== 'DFTCB']
    petro = dfPA.loc[:, 'Data'].values + dfEM.loc[:, 'Data'].values + dfJF.loc[:, 'Data'].values + dfMG.loc[:, 'Data'].values + dfRF.loc[:, 'Data'].values + dfDF.loc[:, 'Data'].values

    dfNG = data[data.loc[:, 'MSN']== 'NGTCB']
    natural_gas = dfNG.loc[:, 'Data'].values
    
    dfCoal = data[data.loc[:, 'MSN']== 'CLTCB']
    dfWood = data[data.loc[:, 'MSN']== 'WWTCB'] 
    coal_wood = dfCoal.loc[:, 'Data'].values + dfWood.loc[:, 'Data'].values 
    
    dfNuc = data[data.loc[:, 'MSN']== 'NUEGB'] 
    nuclear = dfNuc.loc[:, 'Data'].values
    
    dfWind = data[data.loc[:, 'MSN']== 'WYTCB'] 
    wind = dfWind.loc[:, 'Data'].values
    
    dfSol = data[data.loc[:, 'MSN']== 'SOTCB'] 
    solar = dfSol.loc[:, 'Data'].values
    
    dfHydro = data[data.loc[:, 'MSN']== 'HYTCB'] 
    hydro = dfHydro.loc[:, 'Data'].values
    
    dfGeo = data[data.loc[:, 'MSN']== 'GETCB'] 
    geo = dfGeo.loc[:, 'Data'].values
    
    dfBio = data[data.loc[:, 'MSN']== 'BMTCB'] 
    bio = dfBio.loc[:, 'Data'].values
    
    total = petro + natural_gas + coal_wood + nuclear + wind + solar + hydro + geo + bio
    
    data_values = [petro, natural_gas, coal_wood, nuclear, wind, solar, hydro, geo, bio, total]
    return data_values
    
#get_materials_numbers(data)

In [60]:
def state_df(df, state):
    
    ''' Get data for a single state and return the dataframe '''
    
    state_df = df[df['StateCode']== state]
    return state_df

def year_df(df, year):
    
    ''' Get data for a single year and return the dataframe '''
    
    year_df = df[df['Year']== year]
    return year_df

In [91]:
def make_profile_df_unrefined(df):
    
    ''' Prepare the data to make energy profile for a given state in a given year
        :param dataframe in the form dfStateYear
        :returns df, which each cell is populated by a list'''
    
    data_abs = get_materials_numbers(df)
    total = sum(data_abs)
    
    data_rel = []
    for i in range(len(data_abs)):
        data_rel.append((data_abs[i] / total) *2)
    materials = ['Petroleum and Oil', 'Natural Gas', 'Coal and Wood', 'Nuclear', 'Wind', 'Solar', 'Hydroelectric', 'Geothermal', 'Biomass', 'total']
    inputs = {'Usage in BTUs': data_abs, 'Percenage of Total Energy Consumed': data_rel}
    data = pd.DataFrame(inputs, index=materials)
    return data

#fd = make_profile_df_unrefined(dfCA2009)
#fd

In [85]:
def turn_profile_df_lists_to_numbers(df):
    
    ''' Takes in a df in which each cell is populated by a list.
        Returns a df in which each cell is a float'''
    
    s = df.loc[:, 'Percenage of Total Energy Consumed']
    percentage_list = []
    for x in s:
        percentage_list.extend(x*100)

    t = fd.loc[:, 'Usage in BTUs']
    usage_list = []
    for y in t:
        usage_list.extend(y)
    return usage_list, percentage_list

#usage_list, percentage_list = turn_profile_df_lists_to_numbers(fd)

In [70]:
def make_profile_df(usage_list, percentage_list):
    
    ''' Returns a profile for a states energy use in a year as a dataframe'''
    
    pd.options.display.float_format = '{:,.2f}'.format
     
    materials = ['Petroleum and Oil', 'Natural Gas', 'Coal and Wood', 'Nuclear', 'Wind', 'Solar', 'Hydroelectric', 'Geothermal', 'Biomass', 'Total']
    inputs = {'Usage in BTUs': usage_list, 'Percentage of Total Energy Consumed': percentage_list}
    data = pd.DataFrame(inputs, index=materials).sort_values(by=['Percentage of Total Energy Consumed'], ascending=False)
    data.columns.name = 'California Energy Profile for 2009'

    return data

#dfCA2009_profile = make_profile_df(usage_list, percentage_list)
#dfCA2009_profile.name = 'California 2009 Profile'
#dfCA2009_profile.plot.line()

In [86]:
# Plot relative sources of energy used in a given state for a given year
def plot_sources_pie(df):
    
    ''' Create a pie chart for energy sources for a given state in a given year '''

    profile_df = make_profile_df(df)
    percentages = profile_df.loc[:, 'Percentage of Total Energy Consumed']
    #print(percentages)
    
    materials = ['Petroleum and Oil', 'Natural Gas', 'Coal and Wood', 'Nuclear', 'Wind', 'Solar', 'Other']
    print('Where Other is Hydroelectric, Geothermal, & Biomass')
    colors = ['red', 'red', 'red', 'red', 'green', 'green', 'green']
    scaling = 5
    
    sizes = [item*scaling for item in percentages[:-1]]
    print(len(sizes))
    # TODO switch out the sizes and use the one representing the actual data
    
    #sizes = proportion * scaling
    #sizes = [215, 130, 245, 210, 215, 130, 245, 210]
    explode = (0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1)  # explode 1st slice

    plt.pie(sizes, explode=explode, labels=materials, colors=colors,
            autopct='%5.1f%%', shadow=True, startangle=140)
    plt.axis('equal')
    plt.show()

In [77]:
def plot_df(df):
    
    ''' Not sure if I still need this method '''
    
    ax = plt.subplot(111) #, frame_on=False) # no visible frame
    ax.xaxis.set_visible(False)  # hide the x axis
    ax.yaxis.set_visible(False)  # hide the y axis

    table(ax, df)  # where df is your data frame

    plt.show(table)

In [ ]:
def get_state_profiles_2009(state):
    
    ''' For a given state, show their energy profile in 2009'''
    
    df = data_in()
    make_profile_df_unrefined(df)
    make
    state_df(state)
    year_df(2009)
    get_materials_numbers(df)
    plot_df()
    plot_sources_pi()

In [ ]:
# Get the values for 2009 for all the codes for all the states
df2009 = year_df(df, 2009)
df2009.name = '2009 Data'

dfCA = state_df(df, 'CA')
dfCA2009 = year_df(dfCA, 2009)
dfCA2009.name = 'California 2009 Data'

dfAZ = state_df(df, 'AZ')
dfAZ2009 = year_df(dfAZ, 2009)
dfAZ2009.name = 'Arizona 2009 Data'

dfNM = state_df(df, 'NM')
dfNM2009 = year_df(dfNM, 2009)
dfNM2009.name = 'New Mexico 2009 Data'

dfTX = state_df(df, 'TX')
dfTX2009 = year_df(dfTX, 2009)
dfTX2009.name = 'Texas 2009 Data'

In [99]:
 def get_state_sources_data(df):
    year = range(1969, 2009)
    
    print(df.columns)
    
    ff_total_use = df.loc['Fossiel Fuel']
    print(type(ff_total_use))
    rn_total_use = df.loc['Renewable']
    total_usage = ff_total_use + rn_total_use
    
    ff_rel_use = [i / total_usage for i in df.loc['Fossil Fuel']]
    rn_rel_use = [i / total_usage for i in df.loc['Renewable']]
    
get_state_sources_data(df)

Index(['MSN', 'StateCode', 'Year', 'Data'], dtype='object')

KeyError: 'the label [Fossiel Fuel] is not in the [index]'

In [75]:
#plot_sources_pie(dfCA2009)

In [87]:
def plot_state_sources_over_time(df):
    
    ''' Make a line chart showing a states relative use of renewable and non renewable energy'''

    
    plt.plot(year, ff_rel_use, color='red')
    plt.plot(year, rn_rel_use, color='green')
    plt.xlabel('Time')
    plt.ylabel('Percentage of Total Energy')
    plt.title('{State} use of energy over time')
    plt.show()

#plot_state_sources_over_time(df)

In [92]:
states = ['CA', 'AZ', 'NM', 'TX']
for dfStateYear in states:
    example = plot_sources_pie(dfStateYear)

TypeError: make_profile_df() missing 1 required positional argument: 'percentage_list'

In [ ]:
s = fd.loc[:, 'Percenage of Total Energy Consumed']
percentage_list = []
for x in s:
    percentage_list.extend(x*100)
    
t = fd.loc[:, 'Usage in BTUs']
usage_list = []
for y in t:
    usage_list.extend(y

In [422]:
# make a dataframe for each state that holds the energy categories
labels = ['Petroleum', 'Natural Gas', 'Coal and Wood', 'Wind', 'Solar', 'Hydroelectric', 'Geothermal', 'Biomass']
data = [1, 4, 6, 3, 67, 7, 7, 7]
df_mat_time = pd.DataFrame(data, labels)

# How can we get all slices of data for a state, for a given year, grab each of the things that matchthe codes and put them ino a vector

In [ ]:
dfDF = data[data.loc[:, 'MSN']== 'DFTCB']
#print(dfDF)
natural_gas = dfPA.loc[:, 'Data'].values

In [ ]:
petro_inputs = data[data.loc[:, 'MSN']== 'PATCB'], data[data.loc[:, 'MSN']== 'NGTCB'], data[data.loc[:, 'MSN']== 'NGTCB'] + data[data.loc[:, 'MSN']== 'NGTCB']
#petro = petro_inputs['Data']
#print(petro['Data'])


'''
natural_gas = data[data.loc[:, 'MSN']== 'NGTCB']] 
coal_wood = data.loc[:, 'MSN']== 'CLTCB'] + data.loc[:, 'MSN']== 'WWTCB']
nuclear = data.loc[:, 'MSN']== 'NUECB']
wind = data.loc[:, 'MSN']== 'WYTCB']
solar = data.loc[:, 'MSN']== 'SOTCB']
hydroelectric = data.loc[:, 'MSN']== 'HYTCB']
geothermal = data.loc[:, 'MSN']== 'GETCB']
biomass = data.loc[:, 'MSN']== 'BMTCB']
'''

In [ ]:
# Make df a dataframe that represents the summary data from excel in a way we can query nicely
#df_CA = data[data['StateCode']== 'CA']
#data[data['StateCode']== 'AZ']
#df9[df9['StateCode']== 'CA']

In [322]:
#df9['MSN'].astype(str).str[0:3].head()

In [335]:
#groupedCA = df9_CA.groupby(df9_CA['MSN'].astype(str).str[0:3]).sum().drop(columns ='Year')
#groupedAZ = df9_CA.groupby(df9_AZ['MSN'].astype(str).str[0:3]).sum().drop(columns ='Year')
#groupedNM = df9_CA.groupby(df9_NM['MSN'].astype(str).str[0:3]).sum().drop(columns ='Year')
#groupedTX = df9_CA.groupby(df9_TX['MSN'].astype(str).str[0:3]).sum().drop(columns ='Year')

In [337]:
'''
data_condensed = [data['PATCB'] + data['EMTCB'] + data['MGTCB'] + data['JFTCB'] + data['DFTCB'] + data['RFTCB'], 
                  data['NGTCB'],
                  data['CLTCB']  + data['WWTCB'],
                  data['NUEGB'],
                  data['WYTCB'],
                  data['SOTCB'],
                  data['HYTCB'],
                  data['GETCB'],
                  data['BMTCB']]
'''

"\ndata_condensed = [data['PATCB'] + data['EMTCB'] + data['MGTCB'] + data['JFTCB'] + data['DFTCB'] + data['RFTCB'], \n                  data['NGTCB'],\n                  data['CLTCB']  + data['WWTCB'],\n                  data['NUEGB'],\n                  data['WYTCB'],\n                  data['SOTCB'],\n                  data['HYTCB'],\n                  data['GETCB'],\n                  data['BMTCB']]\n"

In [408]:
#df9_CA['MSN'].astype(str).str[0:3].head()
#df9_CA = df9[df9['StateCode']== 'CA']
#df9_AZ = df9[df9['StateCode']== 'AZ']
#df9_NM = df9[df9['StateCode']== 'NM']
#df9_TX = df9[df9['StateCode']== 'TX']
#df9_CA.head(1)
#df9_CA_new = df9_CA[['Data']].sum(axis=1).where(df['MSN'].astype(str).str[0:3], 0)

In [90]:
# For each state, the energy profile for the year 2009
#make_profile_df(dfCA2009)
#make_profile_df(dfNM2009)
#make_profile_df(dfAZ2009)
#make_profile_df(dfTX2009)